apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-app
  template:
    metadata:
      labels:
        app: nginx-app
    spec:
      containers:
        - name: nginx-app
          image: davidegalifi/quick-service:latest
          ports:
            - name: http
              containerPort: 8080
          resources:
            requests:
              memory: 128Mi
              cpu: 100m
            limits:
              memory: 128Mi
              cpu: 100m
          env:
          - name: MESSAGE
            value: "Hello from nginx app"
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-app
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
  selector:
    app: nginx-app

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx-app
spec:
  ingressClassName: external-nginx
  rules:
    - host:  eks-from-scratch.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nginx-app
                port:
                  number: 8080